.body{
    /* background-color: rgb(247, 239, 236); */
    background-image: url(img/confetti-sticker.gif);
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    padding: 0%;
}
.contentPost{
    background-color:#dfd6e7;
    width: 95%;
    margin-left: 50px;
    text-align: center;
    float: left;
        
}
.separador{
    /* background-color: #8f2aee; */
    /* padding: 1px; */
}
.header{
    background-color:#cc9df8;
    /* background-image: url(img/confetti-sticker.gif); */
    padding: 2px 2px;
}
#titulo{
    text-align: center;
    font-size: 40px;
}
#titulo:hover{
    /* text-decoration: underline; */
}

 .emoj:hover{
    font-size: 50px;
}
a{
    text-decoration: none;
    margin: 10px 20px;
    display:inline-block;
    background-color:#cc9df8;
    padding: 10px 40px;
    color: black;
    box-shadow: 0px 6px 5px  #8f2aee;
    border: solid 1px black;
}
a:hover{
    box-shadow: 0px 2px 2px  #8f2aee;
    font-size: 20px;
}
a:active{
    background-color: black;
    color: #fff;
}
/* este es donde van los dos la imag y el text */
section article section {
    background-color:#cc9df8;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    width: 90%;
    height: 300px;
    position: relative;
    border-radius: 50px;
}
.pG{
    background-color: rgb(255, 6, 6);
    position: relative;
    max-width: 60%;
   
}
.post{
    background-color: #fff;
    position: absolute;
    top: 20%;
    left: 40%;
    width: 55%;
}
.aside{
    border-radius: 10%;
    background-color: #cc9df8;
    width: 27%;
    height: 230%;
    position: absolute;
    left: 69%;
    top: 40%;
    text-align: justify;
    
}

.imagenPost{
    position: absolute;
    top: 50px;
    left: 50px;
}

.footer{
    border-top-left-radius:125px; 
    border-top-right-radius: 125px;
    text-align: center;
    background-color: #dfd6e7;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    padding-bottom: 10px;
}
#contacto{
    font-size: 30px;
    text-shadow: 5px 5px 5px   black;
}
.hr{
    width: 80%;
    height: 1px;
}

.lista{
    border-bottom-left-radius: 125px;
    border-top-right-radius: 125px;
    padding-right: 10px;
    padding-bottom: 15px;
    background-color: #fff;
    width: 300px ;
    
}